* {
	margin: 0;
	padding: 0;
}

html, body, #body {
	height: 100%;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

#body {
	min-height: 100%;
}

#top {
	display: block;
	height: 65px;
	width: 250px;
	color: black;
	background-color: white;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	border-radius: 0 0 80px 80px;
	box-shadow: 10px 0px 5px #888888;
}

#fb {
	margin: 0 auto;
	width: 64px;
}

#map {
	height: 100%;
}

#menu {
	display: block;
	height: 100%;
}

.abas {
	width: 400px;
	height: 100%;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 100px;
	padding-right: 30px;
	position: absolute;
	left: -530px;
	overflow: auto;
	z-index: -1;
	box-shadow: 0px 0px 10px #888888;
}

#settings{
	background-image: url("../img/btnsettings.png");
	width: 172px;
	height: 64px;
	position: absolute;
	left: -108px;
	top: 64px;
	cursor: pointer;
}

#listevents {
	background-image: url("../img/btnlistevents.png");
	width: 172px;
	height: 64px;
	position: absolute;
	left: -108px;
	cursor: pointer;
}

.closebutton, .closebutton:hover {
	width: 50px;
	height:20px;
	background-image: url("../img/closebutton.png");
	position: absolute;
	right: 5px;
	top: 0px;
}
.closebutton {
	background-image: url("../img/closebutton.png");
}
.closebutton:hover {
	background-image: url("../img/closebutton_pressed.png");
	cursor: pointer;
}

#shadowing, #shadowingmore {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:1;
	opacity:0.1;
	filter: alpha(opacity=50);
}

#shadowingmore {
	z-index: 115;
}

#box {
	display: none;
	position: fixed;
	top: 15%;
	left: 27%;
	width: 580px;
	height: 440px;
	padding: 15px;
	margin:0;
	background-color: white;
	z-index:101;
	overflow: auto;
	box-shadow: 0px 0px 10px #888888;
}
#box h3 {
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
}
#evtClose {
	width: 50px;
	height:20px;
	background-image: url("../img/closebutton.png");
	position: relative;
	left: 540px;
	top: -15px;
}
#evtClose:hover {
	background-image: url("../img/closebutton_pressed.png");
	cursor: pointer;
}

#evtTitle {
	position: relative;
	left: 0px;
	top: -25px;
	width: 520px;
	height: 30px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: -20px;
}
#evtCover {
	float: left;
	width: 200px;
	height: 400px;
	border-right: 1px black solid;
	margin: 0 auto;
}

#evtCoverImg {
	width: 200px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 3px;
}

#evtWhen {
	width: 200px;
	height: 20px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 12px;
	margin: 0 auto;
}
#evtWhen img {
	margin-right: 5px;
	margin-left: 17px;
}
#evtDesc {
	float: right;
	width: 350px;
	height: 240px;
	margin-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

#evtDescWrap {
	width: 350px;
	height: 225px;
	overflow: hidden;
}

#evtDesc p {
	width: 325px;
	word-break: break-word;
	font-family: sans-serif;
	font-size: 12px;
	color: #333;
	text-align: justify;
	padding-right: 5px;
}
#evtPart {
	float: right;
	width: 350px;
	height: 85px;
	margin-left: 5px;
	padding-right: 5px;
}

#partList {
	list-style:none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

#partList li {
	display: inline-block;
	margin: 2px;
}

#evtPart ul:hover , #evtDescWrap:hover{
	overflow: auto;
}

#evtButtons {
	float: right;
	width: 350px;
	height: 30px;
	margin-left: 5px;
}

#fbButtons {
	width: 220px;
	margin: 0 auto;
}

#evtGoing, #evtNGoing , #evtMaybe, #btnInviteList {
	width: 94px;
	height: 23px;
	cursor: pointer;
	display: none;
	float: left;
	margin-right: 12px;
	margin-top: 10px;
}
#evtGoing {
	background: url("../img/going.png");
}
#evtNGoing {
	background: url("../img/notgoing.png");
}
#evtMaybe {
	background: url("../img/maybe.png");
}
#evtMaybe:hover {
	background: url("../img/maybeover.png");
}
#evtGoing:hover {
	background: url("../img/goingover.png");
}
#evtNGoing:hover {
	background: url("../img/notgoingover.png");
}
#btnInviteList {
	display: block;
	float: right;
	background: url("../img/invitelist.png");
}
#btnInviteList:hover {
	background: url("../img/invitelistover.png");
}
#evtPage, #evtPage a {
	display: block;
	width: 71px;
	height: 27px;
	position: absolute;
	right: 2px;
	bottom: 0px;
	background: url("../img/eventpage.png");
}
#evtPage a:hover {
	background: url("../img/eventpageover.png");
}

#evtTrace {
	display: block;
	width: 71px;
	height: 27px;
	position: absolute;
	right: 80px;
	bottom: 0px;
	cursor: pointer;
	background: url("../img/traceroute.png");
}

#evtTrace:hover {
	background: url("../img/tracerouteover.png")
}

#evtInvite {
	display: none;
	width: 71px;
	height: 27px;
	position: absolute;
	right: 155px;
	bottom: 0px;
	cursor: pointer;
	background: url("../img/invitefriends.png");
}

#evtInvite:hover {
	background: url("../img/invitefriendsover.png")
}

.listevent {
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	padding: 4px;
	cursor: pointer;
	border-bottom: 1px #fdd dotted;
}

.listevent:last-child {
	border: 0px black solid;
}

.listevent:hover {
	background-color: #fdd;
}

.listevent a{
	text-decoration: none;
	font-weight: bold;
	color: #a00;
	margin-right: 20px;
}

.listevent span{
	width: 80px;
	float: right;
}

#listWrapper {
	width: 415px;
	height: 500px;
	overflow: hidden;
	border-bottom: 1px #bbb solid;
}
#listWrapper:hover {
	overflow: auto;
}
#list {
	width: 390px;
}

#inviteBox {
	display: none;
	position: fixed;
	top: 25%;
	left: 35%;
	width: 400px;
	height: 300px;
	padding: 15px;
	margin:0;
	background-color: white;
	z-index:120;
	overflow: auto;
	box-shadow: 0px 0px 10px #888888;
}
#inviteBox h3{
	font-family: sans-serif;
	font-size: 14px;
}
#inviteClose {
	width: 50px;
	height:20px;
	background-image: url("../img/closebutton.png");
	position: relative;
	left: 360px;
	top: -15px;
}
#inviteClose:hover {
	background-image: url("../img/closebutton_pressed.png");
	cursor: pointer;
}
#toInviteWrapper {
	margin-top: 10px;
}
#liveSearchWrapper {
	margin-top: 5px;
}
#toInvite, #liveSearch {
	height: 100px;
	padding: 10px;
	border: 1px #ddd solid;
	overflow: auto;
	list-style: none;
}
#toInvite {
	height: 50px;
}

.friendsList .aName {
	font-size: 12px;
	position: relative;
	top: -14px;
	left: 10px;
	color: #008;
}
.friendsList .aName:hover {
	color: #66d;
}

.friendsList:hover {
	background-color: #eef;
}

.inviteIcon {
	display: inline;
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #ccf;
	position: relative;
	cursor: pointer;
	top: 8px;
	right: 20px;
}
.inviteIcon:hover {
	color: #008;
}
.toInviteFriend {
	float: left;
	font-size: 10px;
	font-family: sans-serif;
	padding: 3px 5px;
	margin: 3px;
	background-color: #ddf;
}

.toInviteFriend a {
	cursor: pointer;
	position: relative;
	margin-left: 5px;
	float: right;
	font-size: 12px;
	color: #aac;
}
.toInviteFriend a:hover {
	color: #008;
}
#like {
	background-color: white;
}